.trait {
    width: 80%;
    margin: 0 auto;
}

input {
    margin-bottom: 100px;
}
.section {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.section p {
    padding: 30px 0;
    margin-bottom: 2px;
}

.section img {
    margin-left: 15px;
    width: 500px;
    height: 300px;
}

.blurred {
    filter: blur(2px);
}

.grayscaled {
    filter: grayscale(100%);
}