.slider {
    height: 380px;
    border-bottom: #c60c32 solid 2px;

    width: 1920px;
    object-fit: cover;
  }
  
  #title_slider {
    font-size: 8rem;
    align-items: center;
    font-weight: 700;
    color: #c60c32;
    font-family: "Song Myung", serif;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  
  #p_slider {
    font-size: 34px;
    font-weight: 700;
    font-family: "Staatliches", cursive;
    font-style: italic;
    text-shadow: 0.1em 0.1em 0.2em black;
  }